<!DOCTYPE html>
<html>

<head>
 <link rel="stylesheet" href="./style.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <title>Rohan de Graaf</title>
    <meta name="description" content="Rohan de Graaf - 15 year old programmer - Project page">
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="0">
  <div itemscope itemtype="https://schema.org/WebSite">
    <meta itemprop="url" content="https://rohandg.nl/"/>
    <meta itemprop="name" content="Rohan de Graaf"/>
    <meta itemprop="Rohandg" content="EC"/>
  </div>
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>

    </button>
   </div>
   <div>
    <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav">
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Rohandg.nl<span class="caret"></span></a>
       <ul class="dropdown-menu">
        <li><a class="dropdown-item"  href="https://rohandg.nl/" style="color:gainsboro;">Rohandg.nl</a></li>
        <li><a class="dropdown-item"  href="https://incendere.nl/">Incendere.nl</a></li>
        <li><a class="dropdown-item" href="https://dedikkevarkenmetdown.nl/">Dedikkevarkenmetdown.nl</a></li>

       </ul>
      </li>
      <li><a href="#section0">Home</a></li>
      <li><a href="#section1">Public projects</a></li>
      <li><a href="#section2">Private projects</a></li>
      <li><a href="#section4">Contact</a></li>
      <li><a href="#section5">Donate</a></li>
      <li><a href="https://resume.rohandg.nl/">Resume</a></li>
      <li><a href="https://secure.rohandg.nl">Login</a></i>
      
   </div>
  </div>
     </div>
 </nav>

 <div id="section0" class="container-fluid">

  <h1>Rohan de Graaf</h1>
  <p>Rohan de Graaf is a 15 year old highschool student who tries to program everthing that he can.</p>
 </div>
    
 <div id="section1" class="container-fluid">

  <h1 style="color:darkblue">Public projects</h1>
  <img id="optionalstuff" src="https://ghchart.rshah.org/409ba5/profredrooster" alt="Profredrooster Github Chart" />
  <ul style="color:darkblue">
   <li><a href="https://github.com/daanschenkel/djogbot" target="_blank" rel="noopener noreferrer" style="color:darkblue">Djog bot</a></li>
  </ul>
  <ul style="color:darkblue">
   <li><a href="https://github.com/ProfRedRooster/screensaver" target="_blank" rel="noopener noreferrer" style="color:darkblue"> A processing screensaver</a></li>
  </ul>
  <ul style="color:darkblue">
   <li><a href="https://github.com/richelbilderbeek/djog_picos_2018" target="_blank" rel="noopener noreferrer" style="color:darkblue">A "vuur jongen, water meisje" attempt on a game </a></li>
  </ul>
  <ul style="color:darkblue">
   <li><a href="https://github.com/ProfRedRooster/QuintinoM" target="_blank" rel="noopener noreferrer" style="color:darkblue">A (i think) virus thingie i made a long time ago</a></li>
  </ul>
  <ul style="color:darkblue">
   <li><a href="https://github.com/djog/Team-Universe" target="_blank" rel="noopener noreferrer" style="color:darkblue">A webbrowser</a></li>
  </ul>
  <ul style="color:darkblue">
   <li><a href="https://rohandg.nl/Nederlands-gif.html" target="_blank" rel="noopener noreferrer" style="color:darkblue">A gif i made for school</a></li>
  </ul>
  <ul style="color:darkblue">
   <li><a href="https://spqr.rohandg.nl/" target="_blank" rel="noopener noreferrer" style="color:darkblue">A word searcher for my latin book SPQR</a></li>
  </ul>
  <ul style="color:darkblue">
   <li><a href="https://grieks.rohandg.nl/" target="_blank" rel="noopener noreferrer" style="color:darkblue">A Website about Ancient Greek history(i got a 8.5/10 for it)</a></li>
  </ul>
  <ul style="color:darkblue">
   <li><a href="https://github.com/ProfRedRooster/AJ-THIJS-tenisballen" target="_blank" rel="noopener noreferrer" style="color:darkblue">A Website that i made for my friends school project</a></li>
  </ul>
    <ul style="color:darkblue">
   <li><a href="https://20gramzout.rohandg.nl/" target="_blank" rel="noopener noreferrer" style="color:darkblue">A hardcore version of a song</a></li>
  </ul>
    <ul style="color:darkblue">
   <li><a href="https://ak.rohandg.nl" target="_blank" rel="noopener noreferrer" style="color:darkblue">Some random thing i did for Geography(i got i 9.5/10)</a></li>
  </ul>
      <ul style="color:darkblue">
   <li><a href="https://debatteren.rohandg.nl" target="_blank" rel="noopener noreferrer" style="color:darkblue">A speech a wrote for "NK onderbouw debattteren 2023" i endend 4th of 10 </a></li>
  </ul>
      <ul style="color:darkblue">
   <li><a href="https://disco.rohandg.nl/" target="_blank" rel="noopener noreferrer" style="color:darkblue">A word searcher for the Latin book "disco"</a></li>
  </ul>
      <ul style="color:darkblue">
   <li><a href="https://invoice.rohandg.nl" target="_blank" rel="noopener noreferrer" style="color:darkblue">A invoice generator</a></li>
  </ul>
      <ul style="color:darkblue">
   <li><a href="	
https://randomijs.rohandg.nl/" target="_blank" rel="noopener noreferrer" style="color:darkblue">Random ice generator</a></li>
  </ul>
       <ul style="color:darkblue">
   <li><a href="	
https://wsj.rohandg.nl" target="_blank" rel="noopener noreferrer" style="color:darkblue">a phone background generator</a></li>
  </ul>
      <ul style="color:darkblue">
   <li><a href="https://mostsecure.rohandg.nl" target="_blank" rel="noopener noreferrer" style="color:darkblue">Closed intranet</a></li>
  </ul>
 </div>
 <div id="section2" class="container-fluid">

  <h1>Private projects</h1>

  <ul>
   <li><a href="https://short.rohandg.nl/" target="_blank" rel="noopener noreferrer">URL shortner</a></li>
  </ul>

  <ul>
   <li><a href="http://search.rohandg.nl" target="_blank" rel="noopener noreferrer">Search engine</a></li>
  </ul>
    <ul>
   <li><a href="http://thebay.rohandg.nl" target="_blank" rel="noopener noreferrer">Piratebay secured frontend (private for now)</a></li>
  </ul>
    <ul>
   <li><a href="http://start.rohandg.nl" target="_blank" rel="noopener noreferrer">Start page</a></li>
  </ul>

 </div>
 <div id="section4" class="container-fluid">
  <h1>Contact</h1>
  <h3>Email</h3>
  <p>You can mail me at <a href="mailto:rohan@rohandg.nl">Rohan@rohandg.nl</a> or you can contact me at any of the socials down below.</p>

  <h3>Socials</h3>
  <ul class="icons">
   <li><a href="https://soundcloud.com/rohan-de-graaf"><span class="label">Soundcloud</span></a></li>
   <li><a href="https://open.spotify.com/artist/5DpArli4B3HECVpr2ZtmCp?si=sqozg1z8QJmeCG972FGvCQ"><span class="label">Spotify</span></a></li>
   <li><a href="https://github.com/profredrooster/"><span class="label">Github</span></a></li>
   <li><a href="https://www.instagram.com/facilis1/"><span class="label">Instagram</span></a></li>
   <li><a href="https://www.twitter.com/onefacilis1/"><span class="label">Twitter</span></a></li>
   <li><a href="https://www.linkedin.com/in/rohan-de-graaf-a260b6230/"><span class="label">Linkedin</span></a></li>
  </ul>

 </div>
 <div id="section5" class="container-fluid">
  <div class="card-wrap" id="card">

   <!-- tabs -->
   <main style="color:darkblue" class="tabs-wrap">
    <!-- tab buttons -->
    <nav class="tabs-nav">
     <button v-for="w in walletsList" :key="w.symbol" :class="{ 'active': w.active }" @click="selectWallet( w.symbol )">{{ w.symbol }}</button>
    </nav>
    <!-- tab content -->
     <!-- qr image -->
     <div class="tabs-info-row">
      <div class="tabs-info-qr">
       <img :src="getQrImage()" :alt="wallet.name" />
      </div>
      <div class="tabs-info-details">
       <div class="tabs-info-title">Donate {{ wallet.name }}</div>
       <div class="tabs-info-warn">Send only {{ wallet.name }} ({{ wallet.symbol }}) to this deposit address. Sending any other coin or token to this address may result in the loss of your donation, Thanks!</div>
      </div>
     </div>
     <!-- address input -->
     <div class="tabs-info-input">
      <span>Address</span>
      <input readonly="readonly" type="text" :value="wallet.address" />
      <button type="button" @click="copyText( wallet.address )">
       <span v-if="wallet.copied">✔ Copied</span>
       <span v-else>✚ Copy</span>
      </button>
     </div>

      </main>
  </div>
    </div>
    
 <div id="section6" class="container-fluid">
   <p style="color:darkblue">Copyright &copy; <script>
     document.write(new Date().getFullYear())
    </script> Rohan de Graaf All Rights Reserved</p>
   <p style="color:darkblue">Made using Bootstrap.js, Bootstrap.min.cs and jQuery.js</p>

  </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js'></script>
 <script  src="./script.js"></script>

    </body>
</html>
