@media (max-width: 629px) {
 img#optionalstuff {
  display: none;
 }
}

body {
 position: relative;
}
body {
 position: relative;
}
#section0 {
 padding-top: 50px;
 height: 200px;
 color: #fff;
 background-color: rebeccapurple;
}
#section1 {
 padding-top: 50px;
 height: 700px;
 color: #fff;
 background-color: white;
}
#section2 {
 padding-top: 50px;
 height: 500px;
 color: #fff;
 background-color: paleturquoise;
}

#section4 {
 padding-top: 40px;
 height: 500px;
 color: #fff;
 background-color: hotpink;
}
#section45 {
 padding-top: 40px;
 height: 100%;
 color: #fff;
 background-color: paleturquoise;
}
#section5 {
 padding-top: 30px;
 height: 100px;
 color: #fff;
 background-color: lightgray;
}
/*500* Vars 
 */
$colorPrimary: purple; // try a different color!
$padSpace: 1em;
$maxWidth: 100%;
$borderRadius: 0px;
$fxSpeed: 300ms;
$bgColor: #f0f0f0;
$fontColor: desaturate(darken($colorPrimary, 35%), 50%);
$fontFamily: "Merriweather Sans", Arial, sans-serif;
$fontSize: 15px;
$shadowSmall: 0 1px 3px rgba(#000, 0.3);
$shadowBig: 0 2px 18px rgba(#000, 0.5);

/**
 * Reset 
 */
*,
*:before,
*:after {
 outline: 0;
 margin: 0;
 padding: 0;
 border: 0;
 text-decoration: none;
 box-sizing: border-box;
 transition: color $fxSpeed ease-out, background $fxSpeed ease-out,
  border $fxSpeed ease-out, trandform $fxSpeed ease-out,
  opacity $fxSpeed ease-out;
}

/**
 * Doc 
 */

/**
 * Form elms 
 */
input,
textarea,
select,
options,
button {
 font-family: inherit;
 font-size: inherit;
 line-height: inherit;
 font-weight: normal;
 background: none;
}

/**
 * Card 
 */
.card-wrap {
 overflow: hidden;
 margin: 0 auto;
 max-width: $maxWidth;
 background-color: $bgColor;
 border-radius: $borderRadius;
 box-shadow: $shadowBig;

 // user info
 .card-user {
  position: relative;

  // user hero bg
  .card-user-split {
   max-width: 70vw;
   padding: 30px;
   margin: 0 auto;
   position: relative;
   top: 50%;
   font-size: 30px;
   line-height: 1.5;
   transform: translateY(-50%);
   perspective: 400px;
  }

  .source {
   color: purple;
   margin: 0 auto;
  }

  // user details row
  .card-user-row {
   display: flex;
   flex-direction: flex-row;
   align-items: center;
   justify-content: stretch;
   position: relative;
   padding: $padSpace;
 
   margin-bottom: $padSpace;

   // user avatar image
   .card-user-avatar {
    margin-right: $padSpace;
    & > img {
     display: block;
     width: 6em;
     height: 6em;
     border: 3px solid $bgColor;
     border-radius: 100px;
     box-shadow: $shadowBig;
    }
   }

   // user name and info
   .card-user-details {
    flex: 1;
    margin-right: $padSpace;
    margin-top: 0.6em;
    line-height: normal;
    text-wrap: nowrap;
    height: 85px;

    .card-user-name {
     font-size: 200%;
     letter-spacing: -1px;
     line-height: 1em;
     color: $bgColor;
     text-shadow: $shadowBig;
    }
    .card-user-info {
     line-height: 1em;
     padding-top: $padSpace;
     color: desaturate(darken($colorPrimary, 10%), 20%);
    }
   }

   // user cta link
   .card-user-cta {
    & > a {
     display: block;
     cursor: pointer;
     color: $bgColor;
     font-weight: normal;
     padding: ($padSpace * 0.8) $padSpace;
     border-radius: 100px;
     box-shadow: $shadowBig;
     text-shadow: $shadowSmall;
     background-color: desaturate(lighten($colorPrimary, 5%), 20%);

     &:hover {
      background-color: desaturate(lighten($colorPrimary, 0%), 20%);
     }
    }
   }
  }
 }

 // tabs section
 .tabs-wrap {
  position: relative;

  .tabs-nav {
   display: flex;
   flex-direction: flex-row;
   align-items: center;
   justify-content: stretch;
   position: relative;
   overflow: hidden;

   // tab button
   & > button {
    flex: 1;
    display: block;
    cursor: pointer;
    text-align: center;
    padding: ($padSpace * 0.8) 0;
    background-color: rgba(#000, 0.09);
    border-top: 2px solid rgba($colorPrimary, 0);
    font-weight: bold;

    &:hover {
     background-color: rgba(#000, 0.05);
    }
    &.active {
     background-color: rgba(#000, 0);
     border-color: rgba($colorPrimary, 0.5);
     color: $colorPrimary;
    }
    & + button {
     margin-left: 1px;
    }
   }
  }

  // tab content
  .tabs-info {
   min-height: 100px;
   padding-top: $padSpace;

   .tabs-info-row {
    display: flex;
    flex-direction: flex-row;
    align-items: center;
    justify-content: stretch;
    margin-bottom: $padSpace;
    padding: 0 $padSpace;

    .tabs-info-qr {
     margin-right: $padSpace;
     & > img {
      display: block;
      border-radius: 20%;
     }
    }
    .tabs-info-title {
     font-size: 200%;
     margin-bottom: 10px;
    }
   }

   .tabs-info-input {
    display: flex;
    flex-direction: flex-row;
    align-items: center;
    justify-content: stretch;
    background-color: #fff;
    padding: ($padSpace * 0.75) $padSpace;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);

    & > span {
     margin-right: $padSpace;
     font-weight: bold;
    }
    & > input {
     flex: 1;
     margin-right: $padSpace;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
     font-weight: bold;
     color: $colorPrimary;
    }
    & > button {
     cursor: pointer;
     font-weight: bold;
    }
   }

   .tabs-info-stats {
    display: flex;
    flex-direction: flex-row;
    align-items: center;
    justify-content: space-between;
    padding: $padSpace;

    .txt-label {
     font-size: 80%;
     text-transform: uppercase;
     opacity: 0.5;
    }
   }
  }
 }
}
