@media (max-width: 629px) {
  img#optionalstuff {
    display: none;
  }
}
body {
  position: relative;
}



#section0 {
  padding-top: 50px;
  height: 200px;
  color: #fff;
  background-color: rebeccapurple;
}

#section1 {
  padding-top: 50px;
  height: 1000px;
  color: #fff;
  background-color: white;
}

#section2 {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: paleturquoise;
}

#section4 {
  padding-top: 40px;
  height: 500px;
  color: #fff;
  background-color: hotpink;
}

#section5 {
  height: 350px;
  color: #fff;
  background-color: paleturquoise;

  flex-direction: flex-row;
  align-items: center;


  text-align: center;
}

#section6 {
    padding-top: 30px;
  height: 100px;
  color: #fff;
  background-color: lightgray;
      text-align: center;
}
  .affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
  }
